* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  font-size: 1.2rem;
}

@media (min-width: 700px) {
  body {
    font-size: 2rem;
  }
}

em {
  font-style: normal;
  font-size: 2rem;
  font-weight: bold;
}

@media (min-width: 700px) {
  em {
    font-size: 3rem;
  }
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #030407;
  z-index: 1;
}

@keyframes playerLoad {
  0% {
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    border-radius: 0;
    transform: translate(-50%, -50%);
  }
  20% {
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    border-radius: 30%;
    transform: translate(-50%, -50%);
  }
  40% {
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    border-radius: 30%;
    transform: translate(-50%, -50%) rotate(270deg);
  }
  60% {
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    border-radius: 30%;
    transform: translate(-50%, -50%) rotate(-180deg);
  }
  80% {
    width: 50px;
    height: 50px;
    left: calc(50% - 82px);
    top: 50%;
    border-radius: 30%;
    transform: translate(-50%, -50%) rotate(-180deg);
  }
  100% {
    width: 50px;
    height: 50px;
    left: calc(50% - 82px);
    top: 50%;
    border-radius: 30%;
    transform: translate(-50%, -50%) rotate(-180deg);
  }
}

@keyframes logo_playerLoad {
  0% {
    left: 50%;
    top: 50%;
  }
  100% {
    left: 12rem;
    top: 20vh;
  }
}

.player {
  position: absolute;

  background-color: whitesmoke;
  cursor: pointer;
  animation: playerLoad 6s both;
}

.player:hover {
  background-color: #030407;
}

@keyframes stageLoad {
  0% {
    backdrop-filter: blur(0px);
  }

  100% {
    backdrop-filter: blur(3px);
  }
}

.stage {
  color: whitesmoke;
  position: absolute;
  width: 100vw;
  max-width: 1000px;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  z-index: 100;
  animation: stageLoad 1s both;
  animation-delay: 3s;
}

@keyframes logoLoad {
  0% {
    opacity: 0;
    left: 50%;
    top: 50%;
  }
  50% {
    opacity: 1;
    left: 50%;
    top: 50%;
  }

  70% {
    opacity: 1;
    left: 50%;
    top: 50%;
  }
  100% {
    opacity: 1;
    left: 12rem;
    top: 10rem;
  }
}

.logo {
  font-size: 2.5rem;
  width: max-content;
  animation: logoLoad 1s both;
  animation-delay: 4s;
}

@keyframes heroLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.logo_player {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 2.5rem;
  width: max-content;
  transform: translate(-50%, -50%);
  animation: logo_playerLoad 2s both;
  animation-delay: 6s;
}

@media (min-width: 700px) {
  .logo_player {
    font-size: 2rem;
  }
}

.hero {
  position: absolute;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2.5rem;
  animation: heroLoad 1s both;
  animation-delay: 6s;
  padding: 1rem;
}

@media (min-width: 700px) {
  .hero {
    font-size: 2rem;
    line-height: 3.8rem;
  }
}

@keyframes slideInFromLeft {
  0% {
    left: -100vw;
  }
  100% {
    left: 1rem;
  }
}

@keyframes slideInFromRight {
  0% {
    right: -100vw;
  }
  100% {
    right: 1rem;
  }
}

.heroText1 {
  position: absolute;
  top: 8vh;
  max-width: 85vw;
  animation: slideInFromLeft 1s both;
  animation-delay: 7s;
}

.heroText2 {
  position: absolute;
  top: 32vh;
  max-width: 85vw;
  animation: slideInFromRight 1s both;
  animation-delay: 7s;
  text-align: right;
}

.heroText3 {
  position: absolute;
  top: 65vh;
  max-width: 85vw;
  animation: slideInFromLeft 1s both;
  animation-delay: 7s;
}

@media (min-width: 700px) {
  .heroText2,
  .heroText3 {
    max-width: 650px;
  }
}

.botin-wrapper {
  position: absolute;
  top: 82vh;
  right: 15%;
  width: 15rem;
  height: 6rem;
  text-align: right;
}

.botin {
  position: absolute;
  left: 50%;
  top: 50%;
  width: max-content;
  cursor: pointer;
  transform: translate(-50%, -50%);
  padding: 1.2rem 2.5rem;

  border-radius: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
}

@keyframes botinClicked {
  0% {
    font-size: 1.5rem;
    padding: 1.2rem 2.5rem;
  }
  50% {
    font-size: 1.3rem;

    padding: 0.6rem 3.5rem;
  }
  100% {
    font-size: 1.5rem;

    padding: 1.2rem 2.5rem;
  }
}

.botin:active {
  animation: botinClicked 0.5s both;
}
